@tailwind base;
@tailwind components;
@tailwind utilities;
/* Style général de la page */
.container {
    margin-top: 20px;
}

/* Styles pour les titres */
h1 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Styles pour les alertes */
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 10px;
    border-radius: 5px;
}

/* Styles pour le tableau */
.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table  th {
    color: black;
    background-color: #838383;
    border-color: #454d55;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    border: 1px solid #dee2e6;
}

/* Styles pour les boutons */
.btn {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 5px;
    border:0.5 solid #343a40;
    border-radius: 5px;
    background-color: #17a2b8;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-primary {
    background-color: #007bff;
}

form .btn-danger {
    background-color: #dc3545;
}

/* Style supplémentaire pour le formulaire de suppression pour l'aligner avec les boutons */
form {
    display: inline;
}
form .btn-primary{
    background-color: #007bff;
}
.small-id {
    width: 50px; 
}
/* Réduire la hauteur de l'éditeur Quill */
.quill-editor-container {
    height: 200px; /* Ajustez cette valeur selon vos besoins */
}


/* inspired form gumroad website */
